body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    color: purple;
    font-weight: bold;
}

#header-text {
    color: white;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card {
    border: dotted 2px white;
    height: 400px;
    width: 30%;
    padding: 0px 10px 10px 10px;
    margin-top: 20px;
}

.card-titles {
    border: solid 2px white;
    margin-top: -1px;
    text-align: center;
}

.code {
    background-color: purple;
    border-radius: 10px;
    color: white;
    margin-top: 10%;
    padding: 5px;
    font-size: medium;
}

.descriptions {
    text-align: center;
    color: purple;
    font-size: medium;
}

.card:hover {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
    transition: box-shadow 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 767px ) {
    .card {
        width: 80%;
    }
}
